  <p>
    <strong>Commenter:</strong>
    <%= coach_comment.commenter %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= coach_comment.title %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= coach_comment.body %>
  </p>

  <p>
    <%= link_to 'Destroy Comment', [coach_comment.coach, coach_comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
